/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
 --Header-background: #add8e6 ;
 --Nav-bar: #daa521;
 --section1: #00008b;
 --section1-img:#ee81ee;
 --large-content: #1d90ff ;
 --small-content: #ffbfcb ;
 --main-section3: #d3d3d3 ;
 --main-section5: #d3d3d3 ;
 --footer: #23272a ;
 --footer-med-content: #f08080 ;
 --footer-small-content: #20b2aa ;
 --content: #7fffd4;
}

/* Generics */
body{

}

header{
    background-color: var(--Header-background);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navigation-menu {
    background-color: var(--Nav-bar);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px ;
}
.logo{
    border: dashed black;
    width: 200px;
    padding:  10px 10px;
    height: 50px;
}
.link{
    border: dashed black;
    width: 500px;
    padding:  10px 10px;
    text-align: center;
}
.login{
    border: dashed black;
    width: 200px;
    padding:  10px 10px;
    text-align: right;
}

/* Section1 */
.section1{
    background-color: var(--section1) ;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1-img{
    background-color: var(--section1-img);
    height: 150px;
    width: 700px;
    padding: 30px 0px;
    border: dashed black;
}


/* Section2 */

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.right-content{
    background-color: var(--large-content);
    height: 300px;
    width: 400px;
    border: dashed black;
}
.left-content{
    background-color: var(--small-content);
    height: 300px;
    width: 300px;
    border: dashed black;
}
/* Section3 */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: var(--main-section3);
}


/* Section4 */
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

/* Section5 */

.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: var(--main-section3);
}
.big-background{
    background-color: green;
    height: 450px;
    width: 700px;
    border: dashed black;
}


/* Foooter */

footer{
    background-color: var(--footer);
    height: 0 auto;
}
.main-content-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.footer-med-content{
    background-color: var(--footer-med-content);
    height: 350px;
    width: 300px;
    border: dashed black;
}
.footer-small-content{
    background-color: var(--footer-small-content);
    height: 350px;
    width: 100px;
    border: dashed white;
}
.line-footer{
    background-color: white;
    height: 2px;
}


.last-content-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.content{
    width: 700px;
    background-color: var(--content);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo-footer{
    border: dashed black;
    background-color: var(--footer-med-content);
    width: 100px;
    height: 30px;
    padding: 0 10px;
}
.button-footer{
    border: dashed black;
    background-color: var(--footer-med-content);
    width: 100px;
    height: 30px;
    padding: 0 10px;
}
